DOMAIN=roorin.com
IMAGE_TAG=local
# Use scripts/production.sh init to generate private random values.
POSTGRES_PASSWORD=
AUTH_DATABASE_PASSWORD=
SOCIAL_DATABASE_PASSWORD=
JWT_SECRET=
JWT_EXPIRATION_MS=604800000
